@import './global.scss';

.snake-game {
	display: table-row-group;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1 {
		text-align: center;
		font-weight: 300;
		padding-bottom: 10px;
	}

	h2 {
		text-align: center;
		font-weight: 300;
		padding-bottom: 10px;
	}

	.snake-game__intro {
		text-align: center;
		font-weight: 700;
		padding-bottom: 10px;
	}

	.snake-game__board-row {
		display: table-row;
		background: #f5f5f5;
	}

	.snake-game__board-cell {
		display: table-cell;
		width: 20px;
		height: 20px;
	}

	.snake-game__board-cell--snake {
		background: #333;
	}

	.snake-game__board-cell--food {
		background: #e40c20;
	}

	.snake-game__intro-container {
		text-align: center;
	    margin-bottom: 10px;
	    min-height: 90px;
	}

	.snake-game__restart-button {
		display: inline-block;
		font-size: 20px;
		font-weight: 300;
		color: #fff;
		background-color: #09c;
		padding: 10px 20px;
		border: 0;
		cursor: pointer;
	}
}
