.slides-container {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slides{
  position: relative;
  font-size: 0;
  height: 400px;
  transition: left 500ms;
}

.slide {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  opacity: 0;
  transition: opacity 1000ms;
}

.fade-in {
  opacity: 1;
}

.slide-nav {
  position: relative;
}

.slide-nav--prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slide-nav--next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.slides-actions {
  text-align: center;
}
